/* FIRST EX */

.ex-1-square {
    transition: background-color 2s ;
}

.ex-1-square:hover {
    background-color: red;
}

/* SECOND EX */

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* THIRD EX */

.ex-3-square {
    transition: border-radius .5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
/* FOURTH EX */

.ex-4-square{
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* FIFTH EX */

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* SIXTH EX */

.ex-6-img:hover {
    filter: grayscale(100%)
}

/* SEVENTH EX */

.ex-7-img {
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);
}

/* EIGHTH EX */

.ex-8-img{
    transition: border-radius 2s, filter 2s;
}
.ex-8-img:hover {
    border-radius: 30px;
    filter: grayscale(.5) sepia(.5);
}

/* NINTH EX */

.ex-9-img {
    transition: transform 2s, filter 2s, border-radius 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    filter: grayscale(.5) sepia(.5);
    border-radius: 30px;
}

/* TENTH EX */

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}


/* ELEVENTH EX */

.ex-11-icon:hover {
    animation: spinback 2s linear;
}

@keyframes spinback {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(270deg)
    }
    100% {
        transform: scale(0deg);
    }
}


/* TWELFTH EX */


.ex-12-button:hover .ex-12-top-white {
    animation: movetop12 1s linear alternate;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movebottom12 1s linear alternate;
}

@keyframes movetop12 {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 60%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes movebottom12 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 60%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
/* THIRTEENTH EX */

.ex-13-button:hover .ex-13-top-white {
    animation: movetop13 2s linear alternate;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: movebottom13 2s linear alternate;
}

@keyframes movetop13 {
    0% {
        top: -10px;
        left: 10%;
    }
    20% {
        top: -10px;
        left: calc(100% - 30px);
    }
    40% {
       top: calc(100% - 10px);
       left: calc(100% - 30px);
    }
    60%{
        top: calc(100% - 10px);
        left: calc(0% - 20px);
    }
    80% {
        top: -10px;
        left: calc(0% - 20px);
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes movebottom13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        bottom: -10px;
        right: calc(100% - 40px);
    }
    40% {
       bottom: calc(100% - 10px);
       right: calc(100% - 40px);
    }
    60%{
        bottom: calc(100% - 10px);
        right: calc(0% - 30px);
    }
    80% {
        bottom: -10px;
        right: calc(0% - 30px);
    }
    100% {
        bottom: -10px;
        right: 10%;
    }
}