/* FIRST EX */

.ex-1-square {
    transition: background-color 2s ;
}

.ex-1-square:hover {
    background-color: red;
}

/* SECOND EX */

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* THIRD EX */

.ex-3-square {
    transition: border-radius .5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
/* FOURTH EX */

.ex-4-square{
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* FIFTH EX */

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* SIXTH EX */

.ex-6-img:hover {
    filter: grayscale(100%)
}

/* SEVENTH EX */

.ex-7-img {
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);
}

/* EIGHTH EX */

.ex-8-img{
    transition: border-radius 2s, filter 2s;
}
.ex-8-img:hover {
    border-radius: 30px;
    filter: grayscale(.5) sepia(.5);
}

/* NINTH EX */

.ex-9-img {
    transition: transform 2s, filter 2s, border-radius 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    filter: grayscale(.5) sepia(.5);
    border-radius: 30px;
}

/* TENTH EX */

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}


/* ELEVENTH EX */

.ex-11-icon:hover {
    animation: spin 2s .5s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(270deg)
    }
    100% {
        transform: scale(0deg);
    }
}


/* TWELFTH EX */



/* THIRTEENTH EX */