/* FIRST EX */

.ex-1-square {
    transition: background-color 2s ;
}

.ex-1-square:hover {
    background-color: red;
}

/* SECOND EX */

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* THIRD EX */

.ex-3-square {
    transition: border-radius .5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
/* FOURTH EX */



/* FIFTH EX */



/* SIXTH EX */



/* SEVENTH EX */



/* EIGHTH EX */



/* NINTH EX */



/* TENTH EX */



/* ELEVENTH EX */



/* TWELFTH EX */



/* THIRTEENTH EX */